<launch>
	<arg name="controller_type" default="differential_orthexp" />

	<node pkg="odom_to_pose_converter" type="odom_to_pose_converter_node" name="odom_to_pose_converter_node" output="screen">
		<remap from="odom_in" to="/icp_odom" />
	</node>

	<node pkg="wiln" type="wiln_node" name="wiln_node" output="screen">
		<remap from="pose_in" to="pose" />
		<param name="trajectory_speed" value="4.0" />
		<param name="low_pass_window_size" value="5" />
	</node>

	<include file="$(find wiln)/params/warthog_$(arg controller_type)_params.launch" />
	<node pkg="path_follower" type="path_follower_node" name="path_follower" output="screen">
		<remap from="odom" to="/imu_and_wheel_odom" />
		<param name="world_frame" value="map" />
		<param name="odom_frame" value="odom" />
		<param name="robot_frame" value="base_link" />
		<param name="controller_type" value="$(arg controller_type)" />
	</node>

</launch>
