<launch>
	<node pkg="odom_to_pose_converter" type="odom_to_pose_converter_node" name="odom_to_pose_converter_node" output="screen">
		<remap from="odom_in" to="/icp_odom" />
	</node>

	<node pkg="norlab_teach_repeat" type="norlab_teach_repeat_node" name="norlab_teach_repeat_node" output="screen">
		<remap from="pose_in" to="pose" />
		<param name="trajectory_speed" value="1.0" />
	</node>

</launch>
